<script th:inline="javascript">
$("#ip_showeditbt").click(function(event){
	event.preventDefault();
	var pid=$("#ip_showpid").val();
	url="/injectionPlan/showupdate";
	$.ajax({
		url:url,
		data:{pid:pid},
		success:function(res){
			$("#loadtable").html(res);
        	$("#exampleModal").show();
		},
		error:function(res){
			console.log('ERROR '+res);
		}
	});
});
</script>
<style>
*:focus {
    outline: none;
}
</style>
<div class="row">
<div class="col-md-1"></div>
	<div class="col-lg-12" style="overflow-x: auto; overflow-y: auto;">
		<form id="ip_showmainform">
			<table id="ip_showexample" class="table table-hover table-bordered">
				<tr>
					<th> Step</th>					
					<th> Fluid Type</th>
					<th >Stage Type</th>
					<th >Rate(BPM)</th>
					<th >Clean Volume(BBL)</th>
					<th >Slurry Vol.(BBL)</th>
					<th >Cumulative Slurry Vol.(BBL)</th>
					<th >Begin Proppant Conc.(PPG)</th>
					<th >End Proppant Conc.(PPG)</th>
					<th >Stage Prop(LBS)</th>
					<th >Cumulative Prop(LBS)</th>
					<th >Step Time</th>
					<th >Elapsed Time</th>
				</tr>

				<tr th:each="list:${list}" th:if="${list}!=null">
					<td><input type="text" min="0" max="" class="form-control"
						th:value="${list.step}" name="" id="" style="border: none;"
						readonly /> <input id="ip_showpid" th:name="ip_imppid"
						type="hidden" th:value=${pid}></td>
					<td th:text="${list.fluidtype}"></td>
					<td th:text="${list.stagetype}"></td>
					<td th:text="${list.rate}"></td>
					<td th:text="${list.cleanvol}"></td>
					<td th:text="${list.slurryvol}"></td>
					<td th:text="${list.cumslurry}"></td>
					<td th:text="${list.begprop}"></td>
					<td th:text="${list.endprop}"></td>
					<td th:text="${list.stageprop}"></td>
					<td th:text="${list.cumprop}"></td>
					<td th:text="${list.steptime}"></td>
					<td th:text="${list.cumStepTime}"></td>
				</tr>

			</table>
		</form>
	</div>
</div>
                <br>
                <center>
            <input type="button" id="ip_showeditbt" value="Edit" class="btn btn-primary" style="width:10%"></input>
            </center>