<script th:inline="javascript">
	$("#fType").change(function(event) {
		event.preventDefault();
		var var1 = $("#fType").val();
		var var2 = $("#pid").val();
		var radioValue = $("input[name='aq']:checked").val();
		$.ajax({
			url : '/reservoirFluid1/showRFSecondController',
			data : {
				fluidT : var1,
				pid : var2,
				radioValue : radioValue
			},
			success : function(res) {
				$("#loadtable").html(res);
				$("#exampleModal").show();
			}
		});
	});
	
	 $("#formwithallData").focus(function(){
		    /* $("span").css("display", "inline").fadeOut(2000); */
		 
		  });


	$('input[type=radio][name=aq]').click(function() {
		var value = $(this).val();
		var var2 = $("#pid").val();
		var var1 = $("#fType").val();
		$.ajax({
			url : '/reservoirFluid1/updateRadioWellTypeController',
			data : {
				welltypeaq : value,
				pid : var2,
				fluidT : var1
			},
			success : function(res) {
				$("#loadtable").html(res);
				$("#exampleModal").show();
			}
		});

	});

	$("#0").click(
			function() {
				var value = $(this).val();
				var var2 = $("#pid").val();
				var var1 = $("#fType").val();
				$.ajax({
					url : '/reservoirFluid1/updateRadioWellTypeController',
					data : {
						welltypeaq : value,
						pid : var2,
						fluidT : var1
					},
					success : function(res) {
						$("#loadtable").html(res);
						$("#exampleModal").show();
						$("#radiodiv")
								.find(':radio[name=aq][value="Oil Well"]')
								.prop('checked', true);
					}
				});

			});
	$("#1").click(
			function() {
				var value = $(this).val();
				var var2 = $("#pid").val();
				var var1 = $("#fType").val();
				$.ajax({
					url : '/reservoirFluid1/updateRadioWellTypeController',
					data : {
						welltypeaq : value,
						pid : var2,
						fluidT : var1
					},
					success : function(res) {
						$("#loadtable").html(res);
						$("#exampleModal").show();
						$("#radiodiv")
								.find(':radio[name=aq][value="Gas Well"]')
								.prop('checked', true);
					}
				});

			});
	$("#updateValue").click(function(event) {
		event.preventDefault();
		var i = 0;
		$('input[name="value"]').each(function() {
			if ($(this).val() == ''  ) {
				i = i + 1;
				$(this).attr("placeholder", "Required");
				$(this).css({'border':'1px solid #d9534f'});
			}else{
				$(this).css({'border':'none'});
			}
		});
		if (i == 0) {
		    setTimeout(() => {
		    	$("#updateValue").css('background-color', 'green');  }, 50);
		    setTimeout(() => {
		    	$("#updateValue").css('background-color', '#07f5f5');}, 500);
			$.ajax({
				url : '/reservoirFluid1/updateValueController',
				data : $("#formwithallData").serialize(),
				success : function(res) {
					$("#loadtable").html(res);
					$("#exampleModal").show();
				}
			});
		}
	});
</script>


<style>
#example2 tr:nth-child(even){
		background: #dae5f4;
	}
.thabc {
		text-align:center;
	}
	
 
	
#example2
{
border-color:black;
border-width:2px;
width: 700px;
height: 200px;
margin-top: 7px;
border: 3px solid black;
}
	
	
	

</style>
<div>
<button type="button" id="1"  class="btn btn-primary" style="width:auto; margin-left:550px;">
							<label for="1">Reservoir Fluid Properties&nbsp;&nbsp;</label>

						</button>
	</div>				
<div  style="top-margin:1px">
	<div class="tab-pane active danger"   id="fill">
			<div style="max-height:400px;overflow-y:auto;overflow-x:hidden">
			 
	 	<div class="row" style="left-margin:1px; " >
				<div class="col-md-1"></div>
				<div class="col-md-7" id="radiodiv">
					<Label>Select Well Type:</Label>
					<div class="btn-group-horizontal">
						<button type="button" class="btn btn-primary" style="width:auto">
							<label for="0">Oil Well&nbsp;&nbsp;</label><input id="0" type="radio"
								name="aq" checked="checked" value="Oil Well" />
						</button>
						<button type="button" class="btn btn-primary" style="width:auto">
							<label for="1">Gas Well&nbsp;&nbsp;</label><input type="radio" name="aq"
								id="1" checked="checked" value="Gas Well" />
						</button>
					</div>
				</div>
			</div>  
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form class="form-horizontal" role="form" id="formwithallData">
						<input id="pid" name="pid" type="hidden" th:value=${pid}>
						<table id="example2" class="table table-hover table-bordered " align="center">
							</thead>
							<tbody th:if="${list.empty}" id="body">
							<tbody>
								<tr  th:each="list,iterStat : ${list}">
									<th align="right" class="thabc" th:text="${list.param} + ${rfplist[iterStat.index]}"></th>
									<th style=" height:5px; border:red;" ><input style="border:red; "type="text" name="value"
										th:value="${list.value}"
										class="time form-control inputvalueclass"> <input
										type="hidden" name="ftype1" th:value="${list.fluidtype}"
										class="time form-control text-center"></th>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div></div>
			
				<center>
						<input type="submit" class="btn btn-primary" value="Update" style="width:auto;"
							id="updateValue" /></center>
	
	</div></div>







